@norsktest:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${NPM_DEPLOY_TOKEN}
//gitlab.com/api/v4/projects/13965270/packages/npm/:_authToken=${NPM_DEPLOY_TOKEN}
//gitlab.com/api/v4/projects/:_authToken=${NPM_DEPLOY_TOKEN}
